<section class="phx-hero">
  <p><%= @current_time_second %></p>
  <p><%= @speed %>%</p>
  <input type="button" class="button speed" value="+" phx-click="inc">
  <input type="button" class="button stop" value="stop" phx-click="stop">
  <input type="button" class="button speed" value="-" phx-click="dec">
</section>